---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
---

<style>
    .name {
		width: 100%;
		justify-content: center;
    }

	.body {
		display: grid;
    	grid-template-columns: 1fr 3fr;
    	column-gap: 10px;
	}
</style>

<Layout title="Welcome">
	<div class="body">
		<Header />
		<!-- <Intro /> -->
		<Projects />
	</div>
</Layout>

<style>
</style>
