---
import '../fonts.css';
import Intro from './Intro.astro';
---

<style>
    .name_section {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;

        .left-col {
            border-right: 1px solid #ffffff;
        }

        h1 {
            font-weight: 500;
            padding: 1vw 0;
            font-family: 'Ginto';
            color: #cccccc;
            font-weight: 400;
            font-size: 1.5em;
        }
    }
</style>

<div class="name_section">
    <div class="left-col">
        <h1>Fares Abdou</h1>
        <Intro />
    </div>
    <!-- <h1>Lead Software Engineer</h1>
    <h1>Manchester, UK</h1> -->
</div>