---
import '../fonts.css';
---

<style>
    .nav-container {
        /* border-bottom: 1px solid #cccccc; */
    }
    .list {
        list-style: none;
        display: flex;
        margin: 1.5vw;
        justify-content: space-between;
    }
    li {
        padding: 0 10px;
        /* width: 100px; */
    }
    ul div {
        display: flex;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: #78a44c;
        font-family: 'Suisse Intl', Helvetica, sans-serif;
    }
</style>

<nav class="nav-container">
    <ul class="list">
        <div>
            <li><a href="/">F</a></li>
        </div>
        <div>
            <!-- <li><a href="/about-me">about</a></li>
            <li><a href="mailto:your-email@example.com">email</a></li>
            <li><a href="/social-media">social</a></li> -->
        </div>
    </ul>
</nav>