---
import '../fonts.css';
---

<style>
    .name_section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 10px;

        h1 {
        font-weight: 500;
        margin: 1vw 0;
        font-family: 'Ginto';
        color: #cccccc;
        font-weight: 400;
        font-size: 2em;
        .dot {
            color: #d4b2f6;
        }
    }
    }
</style>

<div class="name_section">
    <h1>FARES ABDOU</h1>
    <h1>SOFTWARE ENG.</h1>
    <h1>MANCHESTER</h1>
</div>