---
import '../fonts.css';
---

<style>
    .name {
        display: block;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin: 0;
        font-family: "Clamoe";
        /* font-variation-settings:
            'wdth' 130, 'wght' 400; */
    }

    h1 {
        font-weight: 400;
        font-size: 72px;
    }
</style>
  
<div class="name" >
    <div><h1>FARES</h1></div>
    <div><h1>KHALED ABDOU</h1></div>
</div>