---
import '../fonts.css';
---

<style>
    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'Stolzl';
    }
  </style>
  
  <div class="name">
    <h1>fares.</h1>
  </div>