---
import '../fonts.css';
---

<style>
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin: 0;
        font-family: "Archivo", sans-serif;
        font-variation-settings:
            'wdth' 130, 'wght' 400;
    }
</style>
  
<div class="name">
    <h1>fares.</h1>
</div>