---
import '../fonts.css';
import Experiences from '../components/Experiences.jsx';
---

<style>
    .grid-container {
        display: grid;
        /* grid-template-columns: 2fr 1fr 1fr; */
        column-gap: 10px;
        margin: 1vw 0;
        padding-right: 1vw;

        .section {
            margin-bottom: 1vw;
        }
        
        p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.75rem;
            font-family: 'Oracle', Helvetica, sans-serif;
            line-height: 125%;
            font-size: 14px;
            color: #cccccc;
        }

        h2 {
            color: #505050;
            font-family: 'Ginto', Helvetica, sans-serif;
            font-size: 12px;
            border-top: 1px solid #505050;
            padding: 12px 0;
        }
    }
    /* .experiences-section {
        div {
            display: grid;
            gap: 2.5em;
        }
    } */

    .name_top {
        margin-left: 24px;
        margin-bottom: 16px;
    }
</style>

<div class="grid-container">
    <div class="intro section">
        <h2 class="subheader">PROFILE</h2>
        <p>Accomplished Software Engineer with a robust background in the e-commerce and sports industry. I specialise in creating dynamic, scalable web applications using React, GraphQL, and TypeScript as well as HTML, Next.js, Java, JavaScript, and Python, delivering solutions from concept to deployment.</p>
    </div>
    <Experiences client:load/>
    <div class="biography section">
        <h2 class="subheader">BIOGRAPHY</h2>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
