---
import '../fonts.css';
---

<style>
    .name_section {
        font-family: "Oswald";
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 80vh; */
        transform: translate(0.0000%, 0px) scale(0.5003, 1.1003);
        color: #4192B4;
        margin: 0;
    }

    .name_top {
        margin-left: 24px;
        margin-bottom: 16px;
    }

    h1 {
        font-weight: inherit;
        /* margin: 0; */
        /* margin-left: 24px; */
        font-size: 9em;
    }
</style>
  
<!-- <div class="name_section">
    <div class="name_top">
        <h1>Fares</h1>
    </div>
    <div class="name_bottom">
        <h1>Khaled Abdou</h1>
    </div>
</div -->

<div class="name_section">
        <h1>FARES KHALED ABDOU</h1>
</div