---
import '../fonts.css';
---

<style>
    .projects-grid-container {
        display: grid;
        margin-top: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 12px;
    }

    .project-grid-item {
        text-align: center;
    }

    .img {
        width: 400px;
        height: 200px;
        margin: 10px;
        background-color: grey;
    }
</style>

<div class="projects-grid-container">
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
    <div class="project-grid-item">
        <div class="img"></div>
        <span style="color: white;">Placeholder</span>
    </div>
</div>