@font-face {
    font-family: 'Stolzl';
    src: url('/fonts/stolzl/stolzl_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'WixMadeFor Display';
    src: url('/fonts/wixmadefordisplay/WixMadeforDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roman City';
    src: url('/fonts/romancity/romancity_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Augent';
    src: url('/fonts/augent/Augent.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial Old';
    src: url('/fonts/editorial-old/ppeditorialold-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Clamoe';
    src: url('/fonts/clamoe/Clamoe.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/intl/SuisseIntl-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ZT Chintzy';
    src: url('/fonts/ztchintzy/ZTChintzy-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ZT Chintzy';
    src: url('/fonts/ztchintzy/ZTChintzy-HeavyItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ZT Chintzy';
    src: url('/fonts/ztchintzy/ZTChintzy-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ZT Chintzy';
    src: url('/fonts/ztchintzy/ZTChintzy-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ginto';
    src: url('/fonts/ginto/ABCGintoNormal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ginto';
    src: url('/fonts/ginto/ABCGintoNormal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('/fonts/monumentgrotesk/ABCMonumentGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oracle';
    src: url('/fonts/oracle/ABCOracle-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}